body {
    margin-right: 10%;
    margin-left: 10%;
    font-family: "Linden Hill";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

#pic-of-me {
    height: 17em;
    width: 15em;
    border-radius: 50%;
    margin-right: 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 30%;
}

.nav-button {
    display: inline-flex;
    margin-right: 5%;
}

.about-me-container {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
}

#about-spacer {
    flex-grow: .16;
}

.skills-container {
    display: inline-flex;
}

.logo {
    height: 5em;
    width: 5em;
    overflow:hidden; 

}